h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
  border-radius: 30px;
  color: #eceeec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-header {
  text-align: center;
}
