.btn {
    border: solid 1px black!important;
}

p {
    color: white;
}

.col-md-12 {
    background-color: #3e4d59;
    text-align: center;
    
}

h2 {
    font-family: 'Bungee Inline', cursive;
}

img {
    width: 15%;
}